




.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 19, 35, 1) !important;
    background: url(./../media/img/auth-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 800px) {
    .auth-container {
        background-size: cover;
        padding: 0 10px;
    }

}

.auth-box {
    background: rgba(41, 48, 86, 1);
    width: 410px;
    padding: 24px;
    border-radius: 36px;
    max-height: 550px;
    /* position: relative; */
}

.auth-title img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.auth-title h2 {
    font-weight: 500;
    font-family: 'aqs';
    font-size: 25px;
    color: rgba(247, 247, 247, 1);
}
.auth-title h3 {
    font-weight: 400;
    font-size: 12px;
    color: rgba(113, 123, 188, 1);
}

.auth-nav-box {
    background: rgba(16, 19, 35, 1);
    padding: 4px;
    border-radius: 12px;
    height: 48px;
    width: 100%;
}
.auth-nav-item {
    background: transparent;
    height: 100%;
    border-radius: 7px;
    transition: all .5s;
}
.auth-nav-item.active {
    background: rgba(41, 48, 86, 1);
}
.auth-nav-item p {
    font-weight: 500;
    font-size: 14px;
    color: var(--n100);
}

.form-row {
    position: relative;
    width: 100%;
    height: 300px;
    /* background: red; */
}

.sign-up-box {
    position: absolute;
    top: 0;
    left: -500px;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.sign-up-box.active {
    left: 0;
}
.sign-in-box {
    position: absolute;
    top: 0;
    right: -500px;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.sign-in-box.active {
    right: 0;
}
.sign-up-in-box::-webkit-scrollbar {
    width: 3px;
}
.sign-up-in-box::-webkit-scrollbar-track {
    background: rgba(41, 48, 86, 1);
}
.sign-up-in-box::-webkit-scrollbar-thumb {
    background: rgba(238, 70, 188, 1);
}
/* .input-cont { */
    /* background: red; */
    /* margin-bottom: 20px; */
/* } */

.input-cont p {
    font-weight: 500;
    font-size: 14px;
    color: var(--n100);
}

.input-cont input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(78, 91, 166, 1);
    font-family: 'inter';
}

.input-cont input {
    font-size: 16px;
    font-weight: 500;
    color: var(--n100);
    font-family: 'inter';
    width: 100%;
    border: 1px solid rgba(78, 91, 166, 1);
    outline: none;
    padding: 10px 14px;
    border-radius: 12px;
    /* height: 44px; */
    background: transparent;
}

.auth-btn {
    width: 100%;
    background: rgba(238, 70, 188, 1);
    border-radius: 12px;
    color: var(--n100);
    font-family: 'inter';
    font-weight: 600;
    font-size: 14px;
    outline: none;
    border: none;
    height: 45px;
    cursor: pointer;
}
.auth-btn.auth-btn-loading {
    background: var(--n500);
    color: var(--white);
    cursor: no-drop;
}

.status-messg {
    width: '100%';
    background-color: var(--error-bg);
    padding: 10;
    border: 1px solid var(--error-act);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'inter';
    color: var(--error-act);
}

.form-row form h4 {
    font-weight: 400;
    font-size: 14px;
    color: var(--s50);
    font-family: 'inter';
    text-align: center;
}
.form-row form h4 a {
    font-weight: 600;
    color: var(--rs-lb1);
}


.update-info-container .uic-inner {
    width: 410px;
    background: rgba(41, 48, 86, 1);
    padding: 24px;
    border-radius: 36px;
}
.update-info-container.uic-active .uic-inner {
    pointer-events: all;
}

/* .uic-title {
    margin-bottom: 20px;
} */
.uic-title h2 {
    font-weight: 500;
    font-size: 22px;
    color: rgba(247, 247, 247, 1);
}
.uic-title h3 {
    font-weight: 400;
    font-size: 12px;
    color: rgba(113, 123, 188, 1);
}



.checkin-container .checkin-inner {
    width: 400px;
    background: var(--rs-dark);
    padding: 30px 20px;
    border-radius: 7px;
}
.checkin-container.checkin-active .checkin-inner {
    pointer-events: all;
}

.checkin-title {
    margin-bottom: 20px;
}
.checkin-title h2 {
    font-weight: 700;
    font-size: 25px;
    color: var(--rs-p1);
    margin-bottom: 7px;
}
.checkin-title h3 {
    font-weight: 400;
    font-size: 15px;
    color: var(--n200);
}

.checkin-inner .auth-btn {
    margin-top: 30px;
}

/* .input-relative {
} */

/* .select-input-cont {
} */
.select-input-cont p {
    font-weight: 400;
    font-size: 11px;
    color: var(--s50);
    font-family: 'inter';
    margin-bottom: 5px;
}

.select-box {
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--n400);
    padding: 7px 0;
    background: none;
}

.select-box h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--n400);
    font-family: 'inter';
}
.select-box.selected h3 {
    color: var(--n200);
}

.select-down-box {
    background: var(--n100);
    padding: 10px 0;
    border: 1px solid var(--n900);
    border-radius: 7px;
    position: absolute;
    top: 60px;
    left: 0;
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.select-down-box.right {
    left: 181px;
}
.select-down-box.sleep {
    top: 120px;
}
.select-down-box.activity {
    top: 120px;
}
.select-down-box.stress {
    top: 195px;
}
.select-down-box.focus {
    top: 195px;
}
.select-down-box.trigger {
    top: 270px;
}
.select-down-box.sit {
    top: 270px;
}
.select-down-box.active {
    max-height: 400px;
    overflow-y: auto;
    opacity: 1;
    pointer-events: all;

}
.select-down-box h5 {
    padding: 5px 8px;
    font-size: 13px;
    color: var(--n800);
    transition: all .2s;
}
.select-down-box h5:hover {
    background: rgba(0, 0, 0, 0.2);
}
.select-down-box h5:not(:last-child) {
    border-bottom: 1px solid var(--n800);
}