



/* gaps */
.gap-3 {
    gap: 3px;
}
.gap-4 {
    gap: 4px;
}
.gap-5 {
    gap: 5px;
}
.gap-6 {
    gap: 6px;
}
.gap-7 {
    gap: 7px;
}
.gap-8 {
    gap: 8px;
}
.gap-10 {
    gap: 10px;
}
.gap-11 {
    gap: 11px;
}
.gap-12 {
    gap: 12px;
}
.gap-13 {
    gap: 13px;
}
.gap-14 {
    gap: 14px;
}
.gap-15 {
    gap: 15px;
}
.gap-16 {
    gap: 16px;
}
.gap-17 {
    gap: 17px;
}
.gap-20 {
    gap: 20px;
}
.gap-21 {
    gap: 21px;
}
.gap-22 {
    gap: 22px;
}
.gap-23 {
    gap: 23px;
}
.gap-24 {
    gap: 24px;
}
.gap-25 {
    gap: 25px;
}
.gap-26 {
    gap: 26px;
}
.gap-27 {
    gap: 27px;
}
.gap-28 {
    gap: 28px;
}
.gap-30 {
    gap: 30px;
}
.gap-33 {
    gap: 33px;
}
.gap-50 {
    gap: 50px;
}
.gap-60 {
    gap: 60px;
}
.gap-70 {
    gap: 70px;
}
.gap-80 {
    gap: 80px;
}
.gap-100 {
    gap: 100px;
}
.gap-190 {
    gap: 190px;
}
.gap-200 {
    gap: 200px;
}
.gap-200 {
    gap: 220px;
}


/* mgbs */
.mgb-1 {
    margin-bottom: 1px;
}
.mgb-2 {
    margin-bottom: 2px;
}
.mgb-3 {
    margin-bottom: 3px;
}
.mgb-4 {
    margin-bottom: 4px;
}
.mgb-5 {
    margin-bottom: 5px;
}
.mgb-6 {
    margin-bottom: 6px;
}
.mgb-7 {
    margin-bottom: 7px;
}
.mgb-8 {
    margin-bottom: 8px;
}
.mgb-9 {
    margin-bottom: 9px;
}
.mgb-10 {
    margin-bottom: 10px;
}
.mgb-12 {
    margin-bottom: 12px;
}
.mgb-13 {
    margin-bottom: 13px;
}
.mgb-14 {
    margin-bottom: 14px;
}
.mgb-15 {
    margin-bottom: 15px;
}
.mgb-16 {
    margin-bottom: 16px;
}
.mgb-17 {
    margin-bottom: 17px;
}
.mgb-20 {
    margin-bottom: 20px;
}
.mgb-24 {
    margin-bottom: 24px;
}
.mgb-25 {
    margin-bottom: 25px;
}
.mgb-30 {
    margin-bottom: 30px;
}
.mgb-32 {
    margin-bottom: 32px;
}
.mgb-33 {
    margin-bottom: 33px;
}
.mgb-35 {
    margin-bottom: 35px;
}
.mgb-40 {
    margin-bottom: 40px;
}
.mgb-47 {
    margin-bottom: 47px;
}
.mgb-50 {
    margin-bottom: 50px;
}
.mgb-54 {
    margin-bottom: 54px;
}
.mgb-55 {
    margin-bottom: 55px;
}
.mgb-56 {
    margin-bottom: 56px;
}
.mgb-60 {
    margin-bottom: 60px;
}
.mgb-70 {
    margin-bottom: 70px;
}
.mgb-75 {
    margin-bottom: 75px;
}
.mgb-77 {
    margin-bottom: 77px;
}
.mgb-78 {
    margin-bottom: 78px;
}
.mgb-79 {
    margin-bottom: 79px;
}
.mgb-80 {
    margin-bottom: 80px;
}
.mgb-81 {
    margin-bottom: 81px;
}
.mgb-82 {
    margin-bottom: 82px;
}
.mgb-83 {
    margin-bottom: 83px;
}
.mgb-100 {
    margin-bottom: 100px;
}
.mgb-110 {
    margin-bottom: 110px;
}
.mgb-120 {
    margin-bottom: 120px;
}
.mgb-130 {
    margin-bottom: 130px;
}
.mgb-140 {
    margin-bottom: 140px;
}
.mgb-150 {
    margin-bottom: 150px;
}


/* grid_-_gaps_-_columns */
.grid-column-gap-10 {
    grid-column-gap: 10px;
}
.grid-column-gap-20 {
    grid-column-gap: 20px;
}
.grid-column-gap-25 {
    grid-column-gap: 25px;
}
.grid-column-gap-30 {
    grid-column-gap: 30px;
}
.grid-column-gap-40 {
    grid-column-gap: 40px;
}
.grid-column-gap-50 {
    grid-column-gap: 50px;
}


/* grid_-_gaps_-_rows */
.grid-row-gap-20 {
    grid-row-gap: 20px;
}
.grid-row-gap-10 {
    grid-row-gap: 10px;
}
.grid-row-gap-30 {
    grid-row-gap: 30px;
}
.grid-row-gap-35 {
    grid-row-gap: 35px;
}
.grid-row-gap-40 {
    grid-row-gap: 40px;
}
.grid-row-gap-45 {
    grid-row-gap: 45px;
}
.grid-row-gap-50 {
    grid-row-gap: 50px;
}


.pdt {
    padding-top: 30px;
}
.pdb {
    padding-bottom: 30px;
}
.pdl {
    padding-left: 30px;
}
.pdr {
    padding-right: 30px;
}





