

.wellness-container {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 45px;
    background: #2e2553;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5bc0;
    font-family: sans-serif;
    flex-direction: column;
    font-weight: bold;
    overflow: hidden;
}

.wn-score-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    gap: 10px;
}
.wn-score-cont::-webkit-scrollbar {
    display: none;
}

  .wn-score-no {
    flex: 0 0 auto;
  }
  
  .main-score {
    font-size: 72px;
    font-family: 'inter';
    font-weight: 300;
    z-index: 2;
  }
  
  .side-score {
    /* position: absolute;
    top: 50%; */
    font-size: 27px;
    font-weight: 300;
    font-family: 'inter';
    color: rgba(255, 91, 192, 0.2);
    /* transform: translateY(-50%); */
  }
  
  .side-score.left {
    /* left: 16px; */
  }
  
  .side-score.right {
    /* right: 16px; */
  }
  
  .bar-wave {
    display: flex;
    justify-content: center;
    gap: 7px;
    height: 30px;
    margin-top: 10px;
  }
  
  .bar {
    width: 6px;
    height: 25px;
    background: #ff5bc0;
    border-radius: 4px;
    transform-origin: bottom; /* scale from bottom */
    animation: bounceScale 1.2s infinite ease-in-out;
  }
  
  .bar-0 { animation-delay: 0s; }
  .bar-1 { animation-delay: 0.1s; }
  .bar-2 { animation-delay: 0.3s; }
  .bar-3 { animation-delay: 0.5s; }
  .bar-4 { animation-delay: 0.1s; }
  .bar-5 { animation-delay: 0.2s; }
  .bar-6 { animation-delay: 0s; }
  
  @keyframes bounce {
    0%, 100% {
      height: 10px;
    }
    50% {
      height: 24px;
    }
  }
  

  @keyframes bounceScale {
    0%, 100% {
      transform: scaleY(0.4);
    }
    50% {
      transform: scaleY(1);
    }
  }













